<div id="board">
	<h2 id="counter">5</h2>
	
	<div id="team-chooser">
		<h2>Choose your team</h2>
		<div id="tl-corner"><span>1</span></div>
		<div id="tr-corner"><span>2</span></div>
		<div id="bl-corner"><span>3</span></div>
		<div id="br-corner"><span>4</span></div>
	</div>

  <div id="waiting-div" style="display:none">
    <h2>Just waiting for the rest of the team to join</h2>
    <h5>You're on Team <span id="team-color">Red</span></h5>
  </div>
</div>
<%= javascript_include_tag '/faye.js' %>
<%= javascript_include_tag 'game_player.js' %>
