<%= javascript_include_tag '/faye.js' %>
<div id="board">
  		<h2 id="counter">5</h2>
			
			<div id="team-chooser">
				<h2>Choose your team</h2>
				<div id="tl-corner"><span>1</span></div>
				<div id="tr-corner"><span>2</span></div>
				<div id="bl-corner"><span>3</span></div>
				<div id="br-corner"><span>4</span></div>
			</div>
		</div>
