<img src="<%= @qrcode %>">

<div id="goal-1" class="goal">
  <div class="score">0</div>
</div>
<div id="goal-2" class="goal">
  <div class="score">0</div>
</div>
<div id="goal-3" class="goal">
  <div class="score">0</div>
</div>
<div id="goal-4" class="goal">
  <div class="score">0</div>
</div>

<div id="ball"></div>

<%= javascript_include_tag 'game_board.js' %>
<%= javascript_include_tag '/faye.js' %>
