<div class="chatroom">
  
</div>

<form id="chatform">
  <label for="chatname">Name:</label>
  <input id="chatname" type="textfield" />

  <label for="chatinput">Chat:</label>
  <input id="chatinput" type="textfield" />

  <input type="submit">
</form>

<script src="/faye.js"></script>
